<form id='form-group-add' action='/group' method='post'>
  <input type='text' class='md-form-text' name='name' value='' placeholder='New group'>
  <button type='submit' class=''>add</button>
</form>

{{>group-list}}
