<form class='form-group-add' action='/group' method='post'>
  <input type='text' class='md-form-text' name='name' value='' placeholder='Add list'>
  <div class='show-on-focus'>
    {{>colour-selector name='colour' selectorLabel=selectorlabel colours=colours current=colours.[0]}}
    <button class='md-form-btn last md-form-btn--raised' type='submit'><span>add</span></button>
  </div>
</form>

{{>group-list}}
