{{#if groups}}
  {{#each groups}}
  <div class='import__item'>
    {{fields.name}} ({{jots.length}})
  </div>
  {{/each}}
  <form class='form-import'>
    <button class='md-form-btn md-form-btn--raised' type='submit'><span>Import</span></button>
  </form>
{{else}}
  No jots to import
{{/if}}
