<div class='partial-list-order' style='text-align: right;'>
  {{#if order}}
    {{#each order}}
      <a
        class='{{#if current}}current{{/if}}'
        href='#'
        data-type='{{type}}'
        data-direction='{{direction}}'
        ><img src='/images/{{type}}.svg' alt='{{name}}'></a>
    {{/each}}
  {{/if}}
</div>
