<div class='partial-list-order' style='text-align: right;'>
  {{#if ordering}}
    {{#each ordering.orders}}
      <a
        class='{{#ifEqual type ../ordering.current}}current{{/ifEqual}}'
        href='#'
        data-type='{{type}}'
        data-direction='{{direction}}'
        ><svg class="icon"><use xlink:href="#{{type}}" /></svg></a>
    {{/each}}
  {{/if}}
</div>
