<div class='partial-list-order' style='text-align: right;'>
  {{#if order}}
    {{#each order}}
      <a
        class='{{#if current}}current{{/if}}'
        href='#'
        data-type='{{type}}'
        data-direction='{{direction}}'
        ><svg class="icon"><use xlink:href="#{{type}}" /></svg></a>
    {{/each}}
  {{/if}}
</div>
