<div class='partial-loading'>
  <div class='md-list md-list--loading'>
  {{#each items}}
    <div class='md-list-item'>
      <div class='md-list-item__avatar'>
        <div class='img colour-grey priority-1'></div>
      </div>
    </div>
  {{/each}}
  </div>
</div>
