<div class='partial-progress'>
  <div class="progress">
      <div class="back">
        <div class="seg seg-1" style="transform: skew(0deg, 90deg)"></div>
        <div class="seg seg-2" style="transform: skew(-90deg, 0deg)"></div>
        <div class="seg seg-3" style="transform: skew(0deg, 90deg)"></div>
        <div class="seg seg-4" style="transform: skew(-90deg, 0deg)"></div>
      </div>
      <div class="back-centre">
      </div>
  </div>
</div>
