<form id='form-note-add' action='/notes' method='post'>
  <input type='text' class='md-form-text' name='content' value='' placeholder='New jot'>
  <input type='text' class='md-form-text' name='group' value='' placeholder='Group'>
  <button type='submit' class=''>add</button>
</form>

{{>jots}}
