<h1>Notes</h1>

<form id='form-note-add' action='/notes' method='post'>
<input type='text' name='content' value=''>
<button type='submit' class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent'>add</button>
</form>

{{>jots}}

<a href='/'>home</a>
