<div class='partial-notification'>
  <div class='md-snackbar'>
    {{title}}
    {{#if actionName}}
      <button class='md-snackbar__action--primary'>{{actionName}}</button>
    {{/if}}
  </div>
</div>
