<div class='md-actionbar'>

  <div class='md-actionbar__menu'>
    <a href='?menu=open' class='md-btn-menu'>
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class='md-actionbar__title'>
    {{>titlebar-title}}
  </div>

  <div class='md-actionbar__actions'>
    {{>list-order}}
  </div>

</div>

{{>titlebar-tabs}}

<div class='md-nav-overlay {{#if menuOpen}}show{{/if}}'></div>

<nav class='md-nav {{#if menuOpen}}show{{/if}}'>
  <div class='md-nav-head'>
    <a href='?menu=close' class='md-btn-menu close'>
      <span></span>
      <span></span>
      <span></span>
    </a>
    {{#if user}}
      <h4>{{user.displayName}}</h4>
    {{/if}}
  </div>

  <div class='md-nav-body'>
    <a href='/'>Home</a>
    <a href='/jot'>Jots</a>
    <a href='/group'>Lists</a>
    <div class='sub-section'>
    {{#if user}}
      <span><img class='image image--avatar' src='{{user.photo}}' alt=''>{{user.name}}</span>
      <a class='small' href='/auth/import'>Import local jots</a>
      <a class='small' href='/auth/signout'>Sign out</a>
    {{else}}
      <a href='/auth/google'>Sign in</a>
      <a class='small'>Why sign in?</a>
    {{/if}}
    </div>
  </div>

</nav>
