.md-list {
  padding: 0.6rem 0;
}

.md-list-item {
  display: flex;
  flex-direction: row;
  //flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  padding: 0;
  border-bottom: 1px solid $clr-grey-200;

  &:last-child {
    border-bottom: 0;
  }
}
  .md-list-item__avatar, .md-list-item__content, .md-list-item__action {
    padding: 1.4rem 0;
    display: block;
    text-decoration: none;
    color: inherit;
  }

  .md-list-item__avatar {
    padding-left: 1.2rem;
    width: 4rem + 1.2rem;

    .img {
      $size: 2.5rem;

      width: $size;
      height: $size;
      border-radius: $size;
    }

    div.img {
      background-color: $clr-blue;
    }
  }

  .md-list-item__content {
    flex-grow: 1;
    flex-basis: 0;

    &.md-list-item__content--no-avatar {
      padding-left: 1.2rem;
    }


    &.md-list-item__content--no-action {
      padding-right: 1.2rem;
    }
  }

    .md-list-item__primary-content {
      @extend .text-medium-2;
      line-height: 1.2;
    }

    .md-list-item__secondary-content {
      @extend .text-regular;
      line-height: 1.2;

      color: $clr-grey-500;

      a {
        color: inherit;
      }
    }

  .md-list-item__action {
    padding-right: 1.2rem;
    padding-left: 1.1rem;

    width: 1.2rem + 1.2rem + 1.1rem;

    button {
      display: block;
      border: 0;
      background: transparent;
      padding: 0;
      margin: 0;
      border: 0;

      width: 3.5rem - 1.1rem;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
