html {
  font-family: Roboto;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1, .text-large-1 {
  font-size: 2.4rem;
  line-height: 1.5;
}

h2, .text-large-2 {
  font-size: 1.7rem;
  line-height: 1.8;
}

h3, .text-medium-1 {
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 300;
}

h4, .text-medium-2 {
  font-size: 1.1rem;
  line-height: 2.2;
}

p, .text-regular {
  font-size: 1rem;
  line-height: 2.3;
}
