.progress {
    position: relative;

    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 1rem;

    color: $clr-blue-500;

    .back {
        position: absolute;
        background-color: $clr-grey-200;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50%;

        overflow: hidden;
    }

    .back-centre {
        position: absolute;
        background-color: $clr-grey-50;
        width: 80%;
        height: 80%;
        top: 10%;
        left: 10%;
        border-radius: 50%;

        overflow: hidden;

        display: flex;
        align-items: center;

        padding: 2rem;

        p {
            flex-grow: 1;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 100;
            line-height: 1;
        }
    }

    .seg {
        position: absolute;
        background-color: $clr-blue-500;
        width: 50%;
        height: 50%;

        &.seg-1 {
            top: 0;
            left: 0;
            transform-origin: bottom right;
        }

        &.seg-2 {
            top: 50%;
            left: 0;
            transform-origin: top right;
        }

        &.seg-3 {
            top: 50%;
            left: 50%;
            transform-origin: top left;
        }

        &.seg-4 {
            top: 0;
            left: 50%;
            transform-origin: bottom left;
        }
    }
}
