@import "normalize";
@import "mixins";

@import "material-color";
@import "material-typography";
@import "material-layout";
@import "material-nav";
@import "material-form";
@import "material-snackbar";
@import "material-list";
@import "material-tabs";

@import "progress";

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $clr-grey-50;
}

header {
  background: $clr-blue;
  color: white;
  z-index: 20;

  a {
    color: inherit;
    text-decoration: none;
  }
}

body.operamini {
  header {
    background: black;
  }
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

svg.icon {
  width: 24px;
  height: 24px;
  fill: $clr-grey-600;
}

main {
  padding-top: 0.1rem;
}

.form-jot-add, .form-group-add {
  padding: 0 1.2rem;
  margin-top: 0.5rem;

  .show-on-focus {
    display: none;

    &.show {
      display: block;
    }
  }
}

.jots__jot, .groups__group {

  .jots__jot__item, .groups__group__item {
    text-decoration: none;
    color: inherit;

    &.jots__jot__item--done {
      .md-list-item__primary-content {
        text-decoration: line-through;
      }
    }
  }

  .jots__jot__forms, .groups__group__forms {
    display: none;
    margin-top: -1.1rem;

    form {
      display: inline;
    }
  }

  .jots__jot__edit, .groups__group__edit {
    .edit {
      display: block;
    }

    .cancel {
      display: none;
    }
  }

  &.edit {

    .jots__jot__forms, .groups__group__forms {
      display: inline;
    }

    .jots__jot__item, .groups__group__item {
      display: none;
    }

    .jots__jot__edit, .groups__group__edit {
      .edit {
        display: none;
      }

      .cancel {
        display: block;
      }
    }
  }
}

$colours: (
  blue: $list-blue,
  red: $list-red,
  teal: $list-teal,
  yellow: $list-yellow,
  orange: $list-orange,
  brown: $list-brown,
  grey: $list-grey
);

@each $colour, $list in $colours {
  .colour-#{$colour} {
    background: nth($list, 6);

    &.priority-1 {
      background: nth($list, 3);
    }

    &.priority-0 {
      background: nth($list, 1);
    }
  }
}

.colour-selector {
  padding: 1rem 0;

  select {
    display: none;
  }
}

  .colour-selector__colour {
    $size: 30px;

    cursor: pointer;

    display: inline-block;
    width: $size;
    height: $size;
    border-radius: $size;

    &.colour-selector__colour--current {
      border: 2px solid $clr-grey-800;
    }

    &:focus {
      border: 2px solid $clr-grey-500;
    }
  }
