@import "normalize";

@import "material-color";
@import "material-typography";
@import "material-layout";
@import "material-nav";
@import "material-form";
@import "material-snackbar";

html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background: $clr-blue;
  color: white;
  z-index: 20;
}

form {
  display: inline;
}

* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.jots__jot, .groups__group {
  margin: 1.5rem 0;

  .jots__jot__item, .groups__group__item {
    display: block;

    text-decoration: none;
    color: inherit;

    &.jots__jot__item--done {
      text-decoration: line-through;
    }
  }

  .form-jot-update, .form-jot-delete, .form-group-update, .form-group-delete {
    display: none;
  }

  .edit-cancel {
    display: none;
  }

  &.edit {

    .form-jot-update, .form-jot-delete, .form-group-update, .form-group-delete {
      display: inline;
    }

    .jots__jot__item, .groups__group__item {
      display: none;
    }

    .edit-cancel {
      display: inline;
    }
  }
}
