<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#237dac">

    <title>{{title}}</title>

    <script src="/js/webfontloader.js"></script>
    <script>
        WebFontConfig = {
            google: {
                families: ['Roboto:500,100,300,400']
            }
        };
    </script>

    <link href="/css/app.css" media="all" rel="stylesheet" type="text/css" />
  </head>

  <body lang="en" class='md-has-fixed-header'>

    {{{body}}}

    <script>
        {{{state}}}
    </script>

    <script src='/js/browser-polyfill.js'></script>
    <script src='/js/pouchdb.js'></script>
    <script src='/js/dist/app-dist.js'></script>

  </body>

</html>
