<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#237dac">

    <title>{{title}}</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">


    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <link href="/css/app.css" media="all" rel="stylesheet" type="text/css" />
  </head>

  <body lang="en" class='md-has-fixed-header'>

    {{{body}}}

    <script>
        {{{state}}}
    </script>

    <script src='/js/browser-polyfill.js'></script>
    <script src='/js/pouchdb.js'></script>
    <script src='/js/dist/app.js'></script>

  </body>

</html>
