<header id='header' class='md-fixed-header'>
  {{>titlebar}}
</header>

<main>
  <section>

    <div class='section__content' id='view'>

      {{> (lookup . 'content') }}

    </div>

  </section>
</main>

<footer>
  <div>
    {{#if user}}
    <a href='/auth/signout'>sign out</a>
    {{else}}
    <a href='/auth/google'>sign in</a>
    {{/if}}
  </div>
</footer>
