<header id='header' class='md-fixed-header {{#if tabs}}md-header--has-tabs{{/if}}'>
  {{>titlebar}}
</header>

<main>
  <section>

    <div class='section__content' id='view'>

      {{> (lookup . 'content') }}

    </div>

  </section>
</main>

<footer>

</footer>
